# 'ENV_FILE' must match the name of this file
ENV_FILE=.env.example
SPRING_PROFILE=example
SPRING_PORT=8080

# data source
DB_PORT=3306
DB_HOST=host
DB_DATABASE=database
DB_USERNAME=username
DB_PASSWORD=password
DB_URL=jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_DATABASE}

# json web token secret
JWT_SECRET=secret-key

# google oauth2
CLIENT_ID=client-id
CLIENT_SECRET=client-secret
REDIRECT_URI=redirect-uri